{% extends 'base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
  <h2>Посты</h2>
  <ul>
    {% for post in posts %}
      <li>{{ post.title }} - {{ post.pub_date }} by {{ post.author }}<a href="{% url 'edit_post' post_id=post.id %}">Редактировать пост</a>
      <a href="{% url 'delete_post' post_id=post.id %}">Удалить пост</a>
        <a href="{% url 'add_to_favorites' post_id=post.id %}">Добавить в избранное пост</a></li>
    {% endfor %}

  </ul>
  <a href="{% url 'create_post' %}">Создать пост</a>


{% endblock %}